<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.EmployeeRepository">

    <insert id="create" keyProperty="employee.id" useGeneratedKeys="true">
        insert into Employees(position_id, airline_id, name, surname)
        values (#{positionId}, #{airlineId}, #{employee.name}, #{employee.surname})
    </insert>

</mapper>