<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.PositionRepository">

    <insert id="create" keyProperty="id" useGeneratedKeys="true">
        insert into Positions(name)
        values (#{name})
    </insert>

    <sql id="getBody">
        p.name as position_name
    </sql>

    <sql id="getJoins">
        Positions p
    </sql>

</mapper>