<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Verification data base requests suite" parallel="methods" thread-count="5">

    <parameter name="country" value="Netherlands"/>
    <parameter name="locality" value="Amsterdam"/>
    <parameter name="airportName" value="Amsterdam Airport Schiphol"/>
    <parameter name="name" value="Gavin"/>
    <parameter name="surname" value="White"/>

    <test name="Integration1">
        <groups>
            <run>
                <include name="insert"/>
            </run>
        </groups>
        <packages>
            <package name="com.solvd.airport"/>
        </packages>
    </test>
    
    <test name="Integration2">
        <groups>
            <run>
                <include name="select"/>
                <exclude name="delete"/>
            </run>
        </groups>
        <classes>
            <class name="com.solvd.airport.AddressTest"/>
        </classes>
    </test>

    <test name="Integration3">
        <groups>
            <run>
                <include name="update"/>
                <include name="delete"/>
            </run>
        </groups>
        <classes>
            <class name="com.solvd.airport.AddressTest"/>
            <class name="com.solvd.airport.PassengerTest"/>
        </classes>
    </test>

</suite>